p {
  background-color: red;
}
h1 {
  background-color: green;
  font-weight:1000;
}

body {
  color: #00ff00;
  width: 1000px;
  margin:auto;
  border-right:5px red solid;
  border-left:5px red solid;
  border-top:5px red solid;
  border-bottom:5px red solid;
  border-top-width: 20px;
  border-bottom-style:dotted;
  border-radius:50px;
}

form {
  color: rgb(232,173,72);
}

ul {
  list-style: none;
}

a {
  color:black;
}

a:hover {
  color:white;
}

a:active {
  color:purple;
}
